* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Consolas
}

body {
  background: #f2f2f2;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: rgb(0, 0, 0);
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos-slide {
  display: inline-block;
  animation: 90s slide infinite linear;
}

.text{
  display: inline;
  height: 50px;
  margin: 0;
  font-weight: bold;
  font-size: 35px;
  color: white;
  text-shadow:
  2px 1px 10px rgb(255, 255, 255);
}
